<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to https">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Rewrite" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule>
                <rule name="Static Assets" stopProcessing="true">
                  <match url="([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg))" />
                  <action type="Rewrite" url="/{R:1}"/>
                </rule>
                <rule name="ReactRouter Routes" stopProcessing="true">
                  <match url=".*" />
                  <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                  </conditions>
                  <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
            <outboundRules>
              <rule name="AdjustCacheForHTMLPages" preCondition="IsHTMLFile">
                <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
                <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
              </rule>
              <preConditions>
                <preCondition name="IsHTMLFile">
                  <add input="{REQUEST_FILENAME}" pattern=".*\.html" />
                </preCondition>
              </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
